body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-size:3em;
  margin-bottom: 0px;
}

span, button {
  padding: 8px 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  background:none;
  border:none;
  font-size:1em;
  outline: none;
}

button.active {
  color: blue;
}
