@font-face {
    font-family: "seagram";
    src: url("./seagram.ttf");
}

body {
	font-family: "seagram";
	text-align: center;
	background-color: black;
}

span, link {
  padding: 8px 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  background:none;
  border:none;
  font-size: 3vw;
  outline: none;
}

h1 {
  font-size: 10vw;
  margin-bottom: 0px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: red;
}