body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: black;
}

span, button {
  padding: 8px 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  background:none;
  border:none;
  font-size: 4vw;
  outline: none;
}

h1 {
  font-size: 10vw;
}

p {
  color: black;
  pointer-events: none;
}

button {
  color: red;
}

button.active {
  color: white;
}
